.library {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.books {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
}